{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog !</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci odio, pellentesque vel felis non, dignissim
    semper ex. Vivamus id elit lectus. Donec tristique velit vel diam rhoncus consequat. Duis leo lacus, sollicitudin
    eu blandit nec, placerat sit amet ipsum. In vestibulum tortor quis augue consectetur, tincidunt gravida orci
    accumsan. Proin pretium tempor erat, non sagittis tellus pellentesque vel. Praesent elit orci, maximus quis nulla
    ac, condimentum finibus sapien. Donec eleifend eu libero ut aliquam.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci odio, pellentesque vel felis non, dignissim
    semper ex. Vivamus id elit lectus. Donec tristique velit vel diam rhoncus consequat. Duis leo lacus, sollicitudin
    eu blandit nec, placerat sit amet ipsum. In vestibulum tortor quis augue consectetur, tincidunt gravida orci
    accumsan. Proin pretium tempor erat, non sagittis tellus pellentesque vel. Praesent elit orci, maximus quis nulla
    ac, condimentum finibus sapien. Donec eleifend eu libero ut aliquam.
</p>

{% endblock %}